* {
	margin: 0;
	padding: 0;
}

.SlidingPanels {
	width: 500px;
	height: 350px;
}
.SlidingPanelsContent {
	width: 500px;
	height: 350px;
}

.p1 {
	background: url(../images/casadeplata1.jpg) no-repeat;
}
.p2 {
	background: url(../images/casadeplata2.jpg) no-repeat;
}
.p3 {
	background: url(../images/casadeplata3.jpg) no-repeat;
}
.p4 {
	background: url(../images/casadeplata4.jpg) no-repeat;
}
.p5 {
	background: url(../images/casadeplata5.jpg) no-repeat;
}
.p6 {
	background: url(../images/bayou1.jpg) no-repeat;
}
.p7 {
	background: url(../images/bayou2.jpg) no-repeat;
}
.p8 {
	background: url(../images/bayou3.jpg) no-repeat;
}
.p9 {
	background: url(../images/bayou4.jpg) no-repeat;
}
.p10 {
	background: url(../images/pbs_site1.jpg) no-repeat;
}
.p11 {
	background: url(../images/pbs_site2.jpg) no-repeat;
}
.p12 {
	background: url(../images/pbs_site3.jpg) no-repeat;
}
.p13 {
	background: url(../images/helveticaposterfront.jpg) no-repeat;
}
.p14 {
	background: url(../images/helveticaposterback.jpg) no-repeat;
}
.p15 {
	background: url(../images/history-spread.jpg) no-repeat;
}
.p16 {
	background: url(../images/newspaper_add_color.jpg) no-repeat;
}
.p17 {
	background: url(../images/fantasy_collage.jpg) no-repeat;
}
.p18 {
	background: url(../images/365_logo.jpg) no-repeat;
}
.p19 {
	background: url(../images/365_card.jpg) no-repeat;
}
.p20 {
	background: url(../images/365_letter_emv.jpg) no-repeat;
}
.p21 {
	background: url(../images/logo-moi.jpg) no-repeat;
}
.p22 {
	background: url(../images/logo-jacy-inc.gif) no-repeat;
}
/*.p23 {*/
	/*background: url(../images/jacy-inc-business-card.gif) no-repeat;*/
/*}*/
.p24 {
	background: url(../images/logo_bottoles_box.jpg)no-repeat;
}
.p25 {
	background: url(../images/carpediem_card.jpg)no-repeat;
}
.p26 {
	background: url(../images/carpediem_letter_emv.jpg) no-repeat;
}
.p27 {
	background: url(../images/carpediem_web.jpg) no-repeat;
}
.p28 {
	background: url(../images/annualreport.jpg) no-repeat;
}
.p29 {
	background: url(../images/umikai1.png) no-repeat;
}
.p30 {
	background: url(../images/umikai2.png) no-repeat;
}
.p31 {
	background: url(../images/umikai3.png) no-repeat;
}
.p32 {
	background: url(../images/umikai4.png) no-repeat;
}
.p33 {
	background: url(../images/umikai5.png) no-repeat;
}
.p34 {
	background: url(../images/umikai6.png) no-repeat;
}
.p35 {
	background: url(../images/mokulele-ad-1.jpg) no-repeat;
}
.p36 {
	background: url(../images/mokulele-ad-2.jpg) no-repeat;
}
.p37 {
	background: url(../images/mokulele-ad-3.jpg) no-repeat;
}
.p38 {
	background: url(../images/me_logo.gif) no-repeat;
}
.p39 {
	background: url(../images/me_card.gif) no-repeat;
}
.p40 {
	background: url(../images/me_book1.jpg) no-repeat;
}
.p41 {
	background: url(../images/me_book2.jpg) no-repeat;
}
.p42 {
	background: url(../images/fivecomfort-1.jpg) no-repeat;
}
.p43 {
	background: url(../images/fivecomfort-2.jpg) no-repeat;
}
.p44 {
	background: url(../images/fivecomfort-3.jpg) no-repeat;
}
.p45 {
	background: url(../images/fivecomfort-4.jpg) no-repeat;
}
.p46 {
	background: url(../images/imua-ukulele-1.jpg) no-repeat;
}
.p47 {
	background: url(../images/imua-ukulele-2-1.jpg) no-repeat;
}
.p48 {
	background: url(../images/imua-ukulele-3.jpg) no-repeat;
}
.p49 {
	background: url(../images/imua-ukulele-4.jpg) no-repeat;
}
.p50 {
	background: url(../images/imua-ukulele-5.jpg) no-repeat;
}
.p51 {
	background: url(../images/imua-ukulele-8.jpg) no-repeat;
}
.p52 {
	background: url(../images/ndptc-respo.jpg) no-repeat;
}
.p53 {
	background: url(../images/ndptc-respo-2.jpg) no-repeat;
}
.p54 {
	background: url(../images/ndptc-respo-3.jpg) no-repeat;
}
.p55 {
	background: url(../images/ndptc-respo-4.jpg) no-repeat;
}
.p56 {
	background: url(../images/ndptc-respo-5.jpg) no-repeat;
}
.p57 {
	background: url(../images/ndptc-icons.gif) no-repeat;
}
.p58 {
	background: url(../images/imua-logos.jpg) no-repeat;
}
.p59 {
	background: url(../images/imua-tag.jpg) no-repeat;
}
.p60 {
	background: url(../images/imua-sign.jpg) no-repeat;
}
.p61 {
	background: url(../images/imua-t-shirts.jpg) no-repeat;
}
.p62 {
	background: url(../images/imua-logo-new.png) no-repeat;
}
.p63 {
	background: url(../images/imua-head-inlay.jpg) no-repeat;
}
.p64 {
	background: url(../images/imua-tag-new.jpg) no-repeat;
}

#example2.SlidingPanels {
	float: left;
}
#example2 .SlidingPanelsContentGroup {
	float: left;
	width: 5000px;
}
#example2 .SlidingPanelsContent {
	float: left;
}

#container_R {
}

#panelLabels {
    clear: both;
}

